/* Universal formatting */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", "Noto Sans", "Open Sans", "Segoe", sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
}
h1, h2 {
    text-align: center;
}
header {
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-color: rgb(140, 140, 140);
}
#content {
    min-height: 100%;
}
footer, footer p {
    position: static;
    text-align: center;
    bottom: 0%;
    top: 100%;
    margin: 0;
    padding: 3px 3px 3px 3px;
}
nav button:hover {
    background-color: rgba(200, 200, 200, 0.2)
}
nav button:active {
    background-color: rgba(200, 200, 200, 0.3)
}
.button-text {
    margin-left: 25%;
}
.fa {
    transform: scale(1.8);
}
@media only screen and (max-width: 800px) {
    nav {
        position: fixed;
        width: 100%;
        margin-top: 0;
        top: 0;
        height: 4em;
        overflow-x: hidden;
        background-color: black;
        /* Flexbox for buttons */
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
    nav button {
        height: 100%;
        text-align: center;
        width: 100%;
        background-color: transparent;
        border-style: none;
        color: white;
        cursor: pointer;
    }
    #content {
        margin-top: 5em; /* Navbar space */
    }
}
@media not screen and (max-width: 800px) {
    nav {
        position: fixed;
        height: 100%;
        margin-top: 0;
        top: 0;
        width: 3.5em;
        overflow-x: hidden;
        background-color: black;
        /* Flexbox for buttons */
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    @keyframes slidein {
      from {width: 15em;}
      to {width: 3.5em;}
    }
    nav:not(:hover) {
      animation-name: slidein;
      animation-duration: 0.3s;
    }
    nav:not(:hover) button span {
      display: none;
    }
    @keyframes slideout {
      from {width: 3.5em;}
      to {width: 15em;}
    }
    nav:hover {
        width: 15em;
        animation-name: slideout;
        animation-duration: 0.3s;
    }
    nav button {
        width: 100%;
        text-align: left;
        height: 50px;
        background-color: transparent;
        border-style: none;
        color: white;
        padding-left: 1.75em;
        cursor: pointer;
    }
    #content {
        margin-left: 4.5em; /* Navbar space */
    }
}
